.cart-item {
  display: flex;
  flex: 1 2;
  &-left {
    flex: 1;
    position: relative;
    svg {
      position: absolute;
      background: var(--color-gray);
      color: gray;
    }
    img {
      width: 100%;
      height: 100%;
      //position: absolute;
    }
  }
  &-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    .right-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .right-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .size {

      }
      .quantity {
        border-left: 1px solid var(--color-gray);
        padding:0 16px;
        svg {
          color: var(--color-gray);
          font-size: 18px;
        }
        span {
          font-size: 0.75rem;
          padding: 0 16px;
        }
      }
    }
  }
}