.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.best-sell {
  &-content {
    text-align: center;
    text-transform: uppercase;
    .title {
      font-size: 2rem;
    }
    .more {
      font-size: 1rem;
    }
  }

}

.men-title {
  div {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}