.detailImgProduct{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}


.miniShow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bigImgProduct{
    border-radius: 50%;
}

.bigImgProduct img{
    width: 100%;
}

.mini-ImgProduct {
    width: 70px;
    height: 70px;
}

.mini-ImgProduct.active {
    border: 2px solid gray;
}
.mini-ImgProduct{
    background-color: #fff;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.detailMiniProduct{
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.coverPayment{
    //display: flex;
    //flex-direction: column;
    justify-content: space-between;
    width: 100%;
    //height: 80%;
    margin: 50px 0;
    //box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1), 0 0px 5px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, white, #f8f7f4);
}
.brandTopPayment{
    text-align: center;
    line-height: 80px;
    //font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
.titleTopPayment{
    text-align: center;
    margin-top: -8%;
    letter-spacing: 5px;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10%;
}

.text-endNote{
    padding-left: 10px;
    font-style: italic;
    color: red;
}
.Detail{
    font-size: 18px;
}
.product-details-footer {
    display: grid;
    padding: 0 20px;
    .btnPayment{
        //width: 90%;
        height: 60px;
        border-radius: unset;
        border: none;
        font-weight: bold;
        background-color: #53c66e;
    }
    .btnAddStore{
        //width: 90%;
        height: 60px;
        border-radius: unset;
        font-weight: bold;
        margin-top: 20PX;
    }
}


.overDetailProduct{
    padding-top: 60px;
}

.custom-tab {
    .custom-tab-list {
        border-bottom: 2px solid var(--color-gray);
        padding: 12px 0;
    }
    .custom-tab-list.active {
        border-bottom: 2px solid var(--primary-color);
    }
    .custom-tab-list:hover {
        border-bottom: 2px solid var(--primary-color);
    }
    .product-detail {
        display: grid;
        width: 50%;
        float: right;
        padding: 0 60px;
        tr {
            border-bottom: 2px solid var(--color-gray);
            td {
                padding: 12px 0;
            }
        }
        .detail-left {
            text-align: left;
        }
        .detail-right {
            text-align: right;
            text-transform: uppercase;
        }
    }
}

.custom-tab ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.custom-tab li {
    text-align: center;
    list-style: none;

    text-transform: uppercase;
    cursor: pointer;
}