:root {
  --primary-color: #000;
  --color-gray: #ecebea;
  --color-gray-2: #999;
  --color-green: #53c66e;
  --color-red: #ff5e57;
  --color-white: #ffff;
  --border-value: 8px;

  /* 	Size is a variable for both - height and width dimensions of the circle  */
  --size: 300px;
  /* 	First Color Value */
  --clrFirstSpin: lightpink;
  /* 	Second Color Value */
  --clrSecondSpin: aqua;
  /* 	Third Color Value */
  --clrThirdSpin: purple;
  /* 	Duration for text blinking animation  */
  --displayingTextTime: 2500ms;
  --spinnerFont: calc(var(--size)/10);
}

* {
  box-sizing: inherit;
  /*font-family: 'Montserrat', sans-serif;*/
}

html {
  font-size: 14px;
  /*line-height: 1.6rem;*/
  box-sizing: border-box;
}

body {

  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'IBM Plex Sans', sans-serif;
}

.content {
  max-width: 1170px;
  padding: 0 16px;
  margin: 32px auto 0;
}

.grid_full-width {
  width: 100%;
}

.content-wrapper {
  margin: 100px 0px 100px 0px;
  background-color: var(--color-white);
}

.btn-save {
  background-color: var(--color-green);
  padding: 12px 16px;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
}

.btn-cancel {
  background-color: #cbd3e6 !important;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
}

.container {
  max-width: 1170px;
  padding: 0 16px;
  margin: 32px auto 0;
}

.body-container {
  margin-top: 65px;
}

.pagination-footer {
  display: flex;
  justify-content: end;
  padding: 16px;
}

.popover {
  top: 40% !important;
  left: 50% !important;

  &-header {
    background-color: unset !important;
    border: none;
    text-align: center;
    font-weight: bold;
  }
  &-body {
    gap: 40px;
    display: flex;
    justify-content: end;
  }
}