.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 60px 0;
}

.filter-wrapper {
  position: relative;

  cursor: pointer;

  .filter {

    .filter-header {
      background: var(--color-gray);

      display: flex;
      justify-content: space-between;
      align-items: center;

      &-properties {
        align-items: center;


        .filter.active {
          svg {
            transform: rotate(180deg);
          }
        }

        ul {
          list-style: none;
          display: flex;
          margin: 0;

          li {
            display: inline;
            padding: 16px 8px;
            text-transform: uppercase;

            font-size: 1rem;

            border-right: 1px solid white;
            border-left: 1px solid white;
          }

          li:first-child {
            border-left: unset;
          }
        }
      }
    }

    &-content {
      padding: 12px 12px 0 12px;
      position: absolute;
      z-index: 9999;
      background: white;
      width: 100%;

      border-radius: 0 0 var(--border-value) var(--border-value);

      box-shadow: -5px 5px 60px var(--color-gray);

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1rem;

        padding: 8px 0;

        border-top: 1px solid var(--color-gray);
      }
    }

  }
  .dropdown-filter-sort {
    position: absolute;
    right: 10px;
    box-shadow: 0 4px 8px #00000021, 0 1px 2px #00000019;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99999;
    background: var(--color-white);
    &-item {
      padding: 16px 0px 16px 24px;
      span:first-child {
        padding-right: 8px;
      }
      width: 180px;
      svg {
        color: gray;
      }
    }
    &-item:hover {
      background: var(--color-gray);
    }
  }
}
