.chart-wrapper {
  background: white;
  padding: 16px;
}

.popup-account {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  ul {
    padding: 0;
    margin: 0;
    li {
      color: #121828;
      font-size: 1rem;
      padding: 8px 12px;
      list-style: none;
      white-space: nowrap;
      border-bottom: 1px solid var(--color-gray);
      text-align: left;
    }
    li:hover {
      background: var(--color-gray);
    }
  }
  ul:not(:last-child){

  }

  //ul li {
  //    padding: 8px 12px;
  //    list-style: none;
  //}
}