.product-infor {
  display: flex;
  flex: 2 1;
  gap: 20px;
  align-items: center;
  .name {
    font-weight: bold;
  }
  .image-order-details {
    //width: 100px;
    //height: 100px;
    flex: 1 1;
    img {
      width: 80px;
      height: 100px;
    }
  }
}