:root {
  --primary-color: #000;
  --color-gray: #ecebea;
  --color-gray-2: #999;
  --color-green: #53c66e;
  --color-red: #ff5e57;
}

* {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

